<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Passport Google Example</title>
</head>
<body>
  <div>
    <div>
      <img src="<%= user.photo %>" alt="photo">
    </div>
    <p><%= user.name %></p>
    <p><%= user.email %></p>
  </div>
</body>
</html>